:root {
  --accent: #2196f3;
  --dark-text: #212121;
  --light-backgrond: #ffffff;
  --light-text: #ffffff;
  --button-background: #f5f4fa;
  --dark-background: #2f303a;
  --middle-text: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--light-text);
  border-bottom: #ececec solid 1px;
}

.header-logo {
  color: var(--accent);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header-accent {
  color: #000;
}

.header-nav {
}

.header-list {
}

.headr-item {
}

.header-link {
  color: var(--dark-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: var(--accent);
}

.header-contacts {
}

.header-contact {
}

.header-address {
  color: var(--middle-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-address:hover {
  color: var(--accent);
}

.main {
}

.portfolio {
}

.portfolio-title {
}

.portfolio-buttons {
}

.portfolio-button {
}

.portfolio-btn {
  color: var(--dark-text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--button-background);
  border: none;
  padding: 6px 22px;
}

.portfolio-btn:hover {
  padding: 6px 25px;
  color: var(--light-text);
  background: var(--accent);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-projects {
}

.portfolio-project {
  border: 1px solid #eee;
  background-color: var(--light-backgrond);
  width: 370px;
  height: 404px;
}

.portfolio-link {
}

.portfolio-img {
}

.portfolio-subtitle {
  color: var(--dark-text);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-type {
  color: var(--middle-text);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.footer {
  background: var(--dark-background);
}

.footer-logo {
  color: var(--accent);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-accent {
  color: var(--light-text);
}

.footer-address {
}

.footer-list {
}

.footer-item {
}

.footer-map {
  color: var(--light-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.42px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.42px;
}
