body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
img {
  margin: 0;
  padding: 0;
}

.doing-item {
  line-height: 0;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
