:root {
  --accent: #2196f3;
  --dark-text: #212121;
  --light-backgrond: #ffffff;
  --light-text: #ffffff;
  --team-background: #f5f4fa;
  --dark-background: #2f303a;
  --middle-text: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  outline: darkred dashed;
}

.header {
  /* padding: 24px 0 25px 0; */
  background-color: var(--light-text);
  border-bottom: #ececec solid 1px;
}

.header-logo {
  color: var(--accent);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header-accent {
  color: #000;
}

.header-nav {
}

.header-list {
}

.headr-item {
}

.header-link {
  color: var(--dark-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-link:hover {
  color: var(--accent);
}

.header-contacts {
}

.header-contact {
}

.header-address {
  color: var(--middle-text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-address:hover {
  color: var(--accent);
}

.main {
}

.hero {
  background: var(--dark-background);
}

.hero-title {
  color: var(--light-text);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-btn {
  color: var(--light-text);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 32px;
}

.advantages {
  background-color: var(--light-text);
}

.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
  color: var(--dark-text);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantanges-desc {
  color: var(--middle-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.doing {
  background-color: var(--light-text);
}

.doing-title {
  color: var(--dark-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.doing-list {
}

.doing-item {
}

.doing-img {
}

.team {
  background: var(--team-background);
}

.team-title {
  color: var(--dark-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.team-list {
}

.team-item {
  width: 270px;
  height: 368px;
  border-radius: 0px 0px 4px 4px;
  background: var(--light-text);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-img {
}

.team-subtitle {
  color: var(--dark-text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-prof {
  color: var(--middle-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.footer {
  background: var(--dark-background);
}

.footer-logo {
  color: var(--accent);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-accent {
  color: var(--light-text);
}

.footer-address {
}

.footer-list {
}

.footer-item {
}

.footer-map {
  color: var(--light-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.42px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.42px;
}
