@import "./base/reset";
@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/common";
@import "./base/container";

@import "./components/header";
@import "./components/footer";
@import "./components/scroll";
@import "./components/modal";
@import "./components/menu";

@import "./sections/index-sections/hero";
@import "./sections/index-sections/advans";
@import "./sections/index-sections/doing";
@import "./sections/index-sections/team";
@import "./sections/index-sections/customers";

.header__item:nth-child(1) .header__link {
    color: $accent;
}

.header__item:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $accent;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    bottom: -32px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: link-after-move;
}

.menu__item:nth-child(1) .menu__link {
    color: $accent;
}