.footer {
    padding: 60px 0;
    background: $dark-background;

    &__container {
        @include flex($align: start);
        gap: 60px;
    }

    &__wrapper {
        @include flex($align: start);
        gap: 60px;
    }

    &__box {
        @include flex($justify: start);
        flex-direction: column;
    }

    // &__wrap {}

    &__logo {
        @include text($color: $accent, $size: 24px, $weight: 700);
        font-family: Raleway;
        letter-spacing: 0.78px;
    }

    &__accent {
        color: $light-text;
    }

    &__address {
        margin-top: 20px;
    }

    &__list {
        @include flex($justify: start);
        flex-direction: column;
        gap: 8px;
    }

    &__map {
        @include text($color: $light-text);
        line-height: 1.71;
        font-style: normal;
        letter-spacing: 0.42px;
        transition: color $transition;

        &:hover,
        &:focus {
            color: $accent;
        }
    }

    &__link {
        @include text($color: rgba(255, 255, 255, 0.6));
        line-height: 1.71;
        font-style: normal;
        letter-spacing: 0.42px;
        transition: color $transition;

        &:hover,
        &:focus {
            color: $accent;
        }
    }

    &__medias {
        @include flex($justify: start, $align: start);
        gap: 10px;
    }

    &__run {
        @include flex();
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color $transition;

        &:hover,
        &:focus {
            background-color: $accent;
        }
    }

    &__icon {
        stroke: $light-text;
        fill: $light-text;
    }

    &__media:nth-child(2) &__icon {
        fill: none;
    }

    &__form {
        @include flex($justify: start);
        flex-direction: column;
        width: 450px;
    }

    &__title {
        @include text($color: $light-text, $weight: 700);
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
    }

    // &__label {
    //     @include flex($justify: start);
    //     flex-direction: column;
    //     gap: 20px;
    //     width: 100%;
    // }

    &__name {
        display: block;
        width: 100%;
    }

    &__input {
        display: block;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: transparent;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 50px;
        padding: 0 15px;
        @include text($color: $light-text, $size: 16px);
        line-height: 1.25;
        letter-spacing: 0.48px;
        transition: border $transition;
        margin-bottom: 20px;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.48px;
        }

        &:hover,
        &:focus {
            border: 1px solid $accent;
        }
    }

    &__btn {
        @include flex($justify: start);
        @include text($color: $light-text, $size: 16px, $weight: 700);
        line-height: 1.88;
        letter-spacing: 0.96px;
        border-radius: 4px;
        background: $accent;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        gap: 12px;
        border: none;
        padding: 10px 28px;
        transition: background-color $transition;
        margin: 0 auto;

        &:hover,
        &:focus {
            background-color: $accent-hover;
        }
    }

    &__send {
        fill: $light-text;
    }
}

@media screen and (min-width: 768px) {
    .footer {

        &__wrapper {
            gap: 165px;
        }

        &__wrap {
            padding-top: 5px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {

        &__wrapper {
            gap: 70px;
        }

        &__logo {
            @include text($color: $accent, $size: 26px, $weight: 700);
        }

        &__wrap {
            padding-top: 12px;
        }

        &__form {
            margin-left: auto;
            width: 570px;
        }

        &__input {
            width: 358px;
            display: inline-block;
        }

        &__btn {
            gap: 10px;
            margin: 0;
            height: 50px;
        }

        &__title {
            text-align: left;
            width: 570px;
        }

        &__box {
            @include flex($align: start, $justify: start);
        }

        &__list {
            @include flex($align: start, $justify: start);
        }

        &__form {
            padding-top: 12px;
        }

        &__name {
            display: flex;
            justify-content: space-between;
        }

        &__wrap {
            width: 206px;
        }
    }
}