.portfolio {
    padding: 94px 0;
    padding-top: 174px;
}

.portfolio-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.portfolio-button {}

.portfolio-btn {
    color: var(--dark-text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--button-background);
    border: none;
    padding: 6px 22px;
    transition: background-color var(--transition), color var(--transition),
        box-shadow var(--transition);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--light-text);
    background-color: var(--accent);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-projects {
    margin-top: 50px;
    display: flex;
    height: 1272px;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-project {
    background-color: var(--light-backgrond);
    height: 404px;
    width: 100%;
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
    display: block;
    border: 1px solid #eee;
    transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
}

.portfolio-info {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: 63px 24px;
    transition: transform var(--transition);
}

.portfolio-link:hover .portfolio-info,
.portfolio-link:focus .portfolio-info {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: 63px 24px;
    transform: translate(0, -100%);
}

.portfolio-text {
    color: var(--light-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.54px;
}

.portfolio-wraper {
    padding: 0 24px 20px;
    margin-top: 20px;
}

.portfolio-subtitle {
    color: var(--dark-text);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.portfolio-type {
    color: var(--middle-text);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
}