html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

*::selection {
    background-color: $accent;
    color: $light-text;
}

.block {
    height: 60px;

    @media screen and (min-width: 768px) {
        height: 80px;
    }

    @media screen and (min-width: 1200px) {
        height: 78px;
    }
}