:root {
    --accent: #2196f3;
    --dark-text: #212121;
    --light-backgrond: #ffffff;
    --light-text: #ffffff;
    --team-background: #f5f4fa;
    --dark-background: #2f303a;
    --middle-text: #757575;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
