$dark-text: #212121;
$dark-background: #2f303a;
$middle-text: #757575;
$grey: #AFB1B8;
$light-grey: #ececec;
$team-background: #f5f4fa;
$light-background: #ffffff;
$light-text: #ffffff;
$accent-hover: #046ec3;
$accent: #2196f3;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);