.advans {
  padding: 94px 0 47px;
  background-color: $light-text;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 270px;
  }

  &__wrapper {
    padding: 25px 100px;
    background-color: $team-background;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__subtitle {
    color: $dark-text;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__desc {
    color: $middle-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}

/* .advan-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advan-item:first-child:before {
  background-image: url(../img/advantanges/advan-1.png);
}

.advan-item:nth-child(2):before {
  background-image: url(../img/advantanges/advan-2.png);
}

.advan-item:nth-child(3):before {
  background-image: url(../img/advantanges/advan-3.png);
}

.advan-item:nth-child(4):before {
  background-image: url(../img/advantanges/advan-4.png);
} */