.advans {
  padding: 60px 0;
  background-color: $light-text;

  &__list {
    @include flex($justify: start, $align: start);
    gap: 30px;
  }

  &__item {
    max-width: 450px;
  }

  &__wrapper {
    height: 120px;
    @include flex();
    background-color: $team-background;
    margin-bottom: 40px;
    border-radius: 4px;
  }

  &__subtitle {
    @include text($weight: 700);
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__desc {
    @include text($color: $middle-text);
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}

@media screen and (min-width: 768px) {
  .advans {

    &__item {
      width: 354px;
    }

    &__wrapper {
      margin-bottom: 30px;
    }

    &__subtitle {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advans {
    padding: 94px 0 47px;

    &__item {
      width: 270px;
    }
  }
}

/* .advan-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advan-item:first-child:before {
  background-image: url(../img/advantanges/advan-1.png);
}

.advan-item:nth-child(2):before {
  background-image: url(../img/advantanges/advan-2.png);
}

.advan-item:nth-child(3):before {
  background-image: url(../img/advantanges/advan-3.png);
}

.advan-item:nth-child(4):before {
  background-image: url(../img/advantanges/advan-4.png);
} */