.customers {
    padding: 94px 0;

    &__title {
        color: $dark-text;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
    }

    &__list {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 50px;
    }

    &__link {
        display: block;
        padding: 15px 31px;
        border-radius: 4px;
        border: 1px solid $grey;
        transition: border $transition;
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid $accent;
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: $accent;
    }

    &__icon {
        fill: $grey;
        transition: fill $transition;
    }
}