.customers {
    padding: 60px 0;

    &__title {
        @include text($size: 28px, $weight: 700);
        text-align: center;
        letter-spacing: 1.08px;
        margin-bottom: 30px;


    }

    &__list {
        @include flex($justify: center, $align: start);
        gap: 30px;
    }

    &__link {
        display: block;
        padding: 15px 51px;
        border-radius: 4px;
        border: 1px solid $grey;
        transition: border $transition;

        &:hover,
        &:focus {
            border: 1px solid $accent;
        }
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: $accent;
    }

    &__icon {
        fill: $grey;
        transition: fill $transition;
    }
}

@media screen and (min-width: 768px) {
    .customers {

        &__link {
            padding: 15px 59px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        padding: 94px 0;

        &__title {
            @include text($size: 36px, $weight: 700);
            margin-bottom: 50px;
        }

        &__link {
            padding: 15px 31px;
        }
    }
}