.doing {
    padding: 47px 0 94px;
    background-color: $light-text;

    &__title {
        color: $dark-text;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
    }

    &__wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        height: 70px;
        width: 100%;
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        color: $light-text;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        height: auto;
    }
}