.hero {
    padding: 118px 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/hero-bg@1x-mobile.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/hero-bg@2x-mobile.webp);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../img/tablet/hero/hero-bg@1x-tablet.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../img/tablet/hero/hero-bg@2x-tablet.webp);
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/desktop/hero/hero-bg@1x-desktop.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/desktop/hero/hero-bg@2x-desktop.webp);
        }
    }

    &__container {
        @include flex($justify: start);
        flex-direction: column;
    }

    &__title {
        @include text($color: $light-text, $size: 26px, $weight: 900);
        line-height: 1.36;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        margin-bottom: 30px;
        max-width: 360px;
        text-align: center;
    }

    &__btn {
        @extend %button-styles;
        padding: 10px 24px;
    }

    &__text {
        @include text($color: $light-text, $size: 16px, $weight: 700);
        line-height: 1.88;
        letter-spacing: 0.96px;
        position: relative;
        z-index: 4;
    }
}

@media screen and (min-width: 768px) {
    .hero {

        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../img/hero/tablet-hero-bg.webp);

        &__btn {
            padding: 10px 24px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-background.webp);
        padding: 200px 0;

        &__title {
            @include text($color: $light-text, $size: 44px, $weight: 900);
            max-width: 696px;
        }

        &__btn {
            @extend %button-styles;
            padding: 10px 32px;
        }
    }
}

@keyframes btn-after-move {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}