* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.doing-item {
  line-height: 0;
}

.portfolio-project {
  line-height: 0;
}

img {
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

.hero__btn, .modal__btn {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.hero__btn::after, .modal__btn::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #046ec3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: transform 1s ease-out;
  z-index: 3;
}
.hero__btn:hover::after, .modal__btn:hover::after {
  transform: translate(-50%, 0) scale(30);
}
.hero__btn::before, .modal__btn::before {
  content: "";
  display: block;
  width: 250px;
  height: 200px;
  background-color: #046ec3;
  opacity: 0.5;
  position: absolute;
  top: 70%;
  left: 20%;
  border-radius: 50%;
  transition: transform 1s ease-out;
  z-index: 2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: btn-after-move;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

*::-moz-selection {
  background-color: #2196f3;
  color: #ffffff;
}

*::selection {
  background-color: #2196f3;
  color: #ffffff;
}

.block {
  height: 60px;
}
@media screen and (min-width: 768px) {
  .block {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .block {
    height: 78px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  outline: darkred dashed;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding: 10px 0;
  background-color: #ffffff;
  border-bottom: #ececec solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0px 9px 14.9px #ececec;
}
.header__container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  z-index: 9;
}
.header__logo {
  color: #2196f3;
  font-size: 24px;
  font-weight: 700;
  font-family: Raleway;
  letter-spacing: 0.78px;
}
.header__accent {
  color: #212121;
}
.header__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 93px;
  display: none;
}
.header__item {
  position: relative;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
  z-index: 5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}
.header__sublist {
  position: absolute;
  top: 48px;
  z-index: 3;
  transition: opacity 0.5s;
  background-color: #ffffff;
  padding: 8px;
  border: #ececec solid 1px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4px;
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0px 9px 14.9px #ececec;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.header__item:hover .header__sublist {
  opacity: 1;
}
.header__sublink {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__sublink:hover, .header__sublink:focus {
  color: #2196f3;
}
.header__contacts {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  display: none;
}
.header__address {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.header__icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address:hover .header__icon, .header__address:focus .header__icon {
  fill: #2196f3;
}
.header__text {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address:hover .header__text, .header__address:focus .header__text {
  color: #2196f3;
}
.header__btn {
  background-color: transparent;
  margin-left: auto;
}
.header__burger {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__burger:hover, .header__burger:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
  .header__list {
    display: flex;
  }
  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header__icon {
    width: 14px;
    height: 10px;
  }
  .header__contact:nth-child(2) .header__icon {
    width: 10px;
    height: 14px;
  }
  .header__btn {
    display: none;
  }
  .header__text {
    color: #757575;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
  }
  .header__logo {
    color: #2196f3;
    font-size: 26px;
    font-weight: 700;
  }
  .header__contacts {
    flex-direction: row;
    gap: 30px;
  }
  .header__icon {
    width: 16px;
    height: 12px;
  }
  .header__contact:nth-child(2) .header__icon {
    width: 10px;
    height: 16px;
  }
  .header__text {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
  }
}
@keyframes link-after-move {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, -7px);
  }
}
.footer {
  padding: 60px 0;
  background: #2f303a;
}
.footer__container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 70px;
}
.footer__wrap {
  padding-top: 12px;
}
.footer__logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer__accent {
  color: #ffffff;
}
.footer__address {
  margin-top: 20px;
}
.footer__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 9px;
}
.footer__map {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__map:hover, .footer__map:focus {
  color: #2196f3;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}
.footer__medias {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}
.footer__run {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__run:hover, .footer__run:focus {
  background-color: #2196f3;
}
.footer__icon {
  stroke: #ffffff;
  fill: #ffffff;
}
.footer__media:nth-child(2) .footer__icon {
  fill: none;
}
.footer__form {
  margin-left: auto;
  padding-top: 12px;
}
.footer__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__label {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 12px;
}
.footer__name {
  width: auto;
  width: 358px;
  height: 50px;
}
.footer__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__input:hover, .footer__input:focus {
  border: 1px solid #2196f3;
}
.footer__btn {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  border: none;
  padding: 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  background-color: #046ec3;
}
.footer__send {
  fill: #ffffff;
}

.scroll {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 70px;
  pointer-events: none;
}
.scroll__link {
  margin-left: auto;
  display: block;
  background-color: #2196f3;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  pointer-events: all;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll__link:hover, .scroll__link:focus {
  background-color: #046ec3;
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.scroll__icon {
  fill: #ffffff;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) rotate(360deg);
}
.is-hidden .modal {
  transform: translate(0);
}
.modal__close {
  background-color: transparent;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.modal__dagger {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__dagger, .modal__close:focus .modal__dagger {
  fill: #2196f3;
}
.modal__title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__name {
  display: block;
  position: relative;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196f3;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__message {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  padding: 12px 16px;
  display: block;
  width: 100%;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  margin-top: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__message:hover, .modal__message:focus {
  border: 1px solid #2196f3;
}
.modal__wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 13px;
  gap: 7px;
  align-items: center;
}
.modal__check {
  position: relative;
  border-radius: 2px;
  background-color: transparent;
}
.modal__checkbox {
  display: none;
}
.modal__fake {
  width: 16px;
  height: 15px;
  display: block;
  border-radius: 2px;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
}
.modal__fake::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2196f3;
  opacity: 0;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__fake::before {
  opacity: 1;
}
.modal__checked {
  fill: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.modal__link {
  color: #2196f3;
  text-decoration-line: underline;
}
.modal__btn {
  margin: 30px auto 0;
  padding: 10px 52px;
}
.modal__desc {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  z-index: 4;
  position: relative;
}

.hero {
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/mobile-hero-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.hero__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  text-align: center;
}
.hero__btn {
  padding: 10px 24px;
}
.hero__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  position: relative;
  z-index: 4;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/tablet-hero-bg.webp);
  }
  .hero__btn {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-background.webp);
    padding: 200px 0;
  }
  .hero__title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    max-width: 696px;
  }
  .hero__btn {
    padding: 10px 32px;
  }
}
@keyframes btn-after-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.advans {
  padding: 94px 0 47px;
  background-color: #ffffff;
}
.advans__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.advans__item {
  max-width: 270px;
}
.advans__wrapper {
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.advans__subtitle {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advans__desc {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* .advan-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advan-item:first-child:before {
  background-image: url(../img/advantanges/advan-1.png);
}

.advan-item:nth-child(2):before {
  background-image: url(../img/advantanges/advan-2.png);
}

.advan-item:nth-child(3):before {
  background-image: url(../img/advantanges/advan-3.png);
}

.advan-item:nth-child(4):before {
  background-image: url(../img/advantanges/advan-4.png);
} */
.doing {
  padding: 47px 0 94px;
  background-color: #ffffff;
}
.doing__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.doing__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.doing__item {
  position: relative;
}
.doing__wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.doing__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  height: auto;
}

.team {
  padding: 94px 0;
  background: #f5f4fa;
}
.team__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.team__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 270px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item:hover {
  transform: translate(0, -24px);
}
.team__subtitle {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__prof {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.48px;
}
.team__medias {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}
.team__icon {
  stroke: #AFB1B8;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  stroke: #ffffff;
  fill: #ffffff;
}
.team__media:nth-child(2) .team__icon {
  fill: none;
}

.customers {
  padding: 94px 0;
}
.customers__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.08px;
}
.customers__list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.customers__link {
  display: block;
  padding: 15px 31px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: #2196f3;
}
.customers__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__item:nth-child(1) .header__link {
  color: #2196f3;
}

.header__item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  bottom: -32px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: link-after-move;
}/*# sourceMappingURL=main.css.map */